# MongoDB Connection String
# Local: mongodb://localhost:27017/flytoez_dance
# Atlas: mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/flytoez_dance?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/flytoez_dance

# Server Port
# Use 5000 for local development
# AWS Elastic Beanstalk will set this to 8080 automatically
PORT=5000

# Node Environment
NODE_ENV=development
