
  
.navbar-logo-diwali {
    height: 500px;
    width: auto;
}
  
.form-body-diwali{
    text-align: left;
    width: auto;
    background-color: white;
    
}

.form-body-diwali > *{
    padding: 15px;
}