
.navbar-logo-diwali-att {
    height: 1650px;
    width: 700px;
}
@media screen and (max-width: 768px) {
    
    .navbar-logo-diwali-att {
        height: absolute;
        width: 385px;
    
    }
  }

    

